<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Loading"
        tools:targetApi="s">

        <service
            android:name="com.george.vector.common.notifications.FirebaseService"
            android:exported="false"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.users.user.main.FolderUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.tasks.ImageTaskActivity" />
        <activity android:name=".ui.users.root.main.MainRootActivity" />
        <activity android:name=".ui.users.executor.tasks.EditTaskExecutorActivity" />
        <activity android:name=".ui.settings.SettingsActivity" />
        <activity android:name=".ui.users.executor.tasks.TaskExecutorActivity" />
        <activity android:name=".ui.users.executor.main.ExecutorTasksActivity" />
        <activity android:name=".ui.users.executor.main.FolderExecutorActivity" />
        <activity android:name=".ui.users.root.tasks.EditTaskRootActivity" />
        <activity android:name=".ui.users.root.tasks.TaskRootActivity" />
        <activity android:name=".ui.users.root.tasks.AddTaskRootActivity" />
        <activity android:name=".ui.users.root.folders.FolderRootActivity" />
        <activity android:name=".ui.users.root.folders.LocationFolderActivity" />
        <activity android:name=".ui.edit_users.EditDataUserActivity" />
        <activity android:name=".ui.users.root.profile.EditUserActivity" />
        <activity android:name=".ui.users.root.profile.ListUsersActivity" />
        <activity android:name=".ui.users.user.tasks.TaskUserActivity" />
        <activity android:name=".ui.users.user.tasks.AddTaskUserActivity" />
        <activity android:name=".ui.users.executor.main.MainExecutorActivity" />
        <activity android:name=".ui.users.user.main.MainUserActivity" />
        <activity android:name=".ui.auth.LoginActivity" />
        <activity android:name=".ui.users.root.profile.ProfileRootActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>