<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.george.vector">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vector">
        <activity android:name=".сaretaker.main.FolderTaskCaretakerActivity"></activity>
        <activity android:name=".root.tasks.EditTaskActivity" />
        <activity android:name=".root.tasks.TaskRootActivity" />
        <activity android:name=".root.tasks.AddTaskRootActivity" />
        <activity android:name=".root.main.FolderRootActivity" />
        <activity android:name=".root.main.LocationFolderActivity" />
        <activity android:name=".сaretaker.main.CaretakerMainActivity" />
        <activity android:name=".root.main.RootMainActivity" />
        <activity android:name=".user.EditDataUserActivity" />
        <activity android:name=".local_admin.edit_users.EditUserActivity" />
        <activity android:name=".local_admin.edit_users.ListUsersActivity" />
        <activity android:name=".local_admin.tasks.EditTaskAdminActivity" />
        <activity android:name=".user.TaskUserActivity" />
        <activity android:name=".user.AddTaskUserActivity" />
        <activity android:name=".worker.MainWorkerActivity" />
        <activity android:name=".local_admin.tasks.TaskActivity" />
        <activity android:name=".local_admin.tasks.AddTaskAdminActivity" />
        <activity android:name=".local_admin.tasks.sort_by_category.FolderActivity" />
        <activity android:name=".user.MainUserActivity" />
        <activity android:name=".auth.ActivityRegisterUser" />
        <activity android:name=".local_admin.MainAdminActivity" />
        <activity android:name=".auth.ActivityLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>